new_env
new_env/*
.*
!.gitignore
freeze
references
resources/*
!resources/IndianFoodDatasetCSV.csv
projects/*/.env
projects/*/*.pkl
langchain_components_example/prac.ipynb
langchain_components_example/*.db*
langchain_components_example/example.*

